:root {
    --primary-color: #605dec;
    --background-color: #031e2f;
    --border-color: #e6e7ea;
    --grey-400: #7c8db0;
    --grey-600: #6e7491;
    }
    
    body {
        font-family: 'Nunito Sans', sans-serif;
        background-color: var(--background-color);
    }
    
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 4rem 3.5rem;
    }
    
    .title {
        font: "Nunito Sans", sans-serif;
        font-size: 26px;
        color: #605DEC;
    }
    
    .reference {
        font: "Nunito Sans", sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #E6E8E9;
        margin: 1rem 0;
    }
    
    .reference span {
        color: #605DEC;
    }
    
    .description {
        max-width: 756px;
        margin-bottom: 2rem;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.6;
        color: #E6E8E9;
    }
    
    .description span {
        color: #605DEC;
    }
    
    .layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .ticket {
        flex: 1;
        background: white;
        border-radius: 1rem;
        overflow: hidden;
        border: 1px solid #eaeaea;
        display: flex;
        max-width: 856px;
        height: 309px;
        align-items: flex-start;
    }
    
    .flight-times {
        width: 246px;
        height: 309px;
        background-color: #d2d4fb;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    
    .departure, .arrival {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    
    .departure h2, .arrival h2 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #112211;
    }
    
    .departure p, .arrival p {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.75rem;
        color: rgba(17, 34, 17, 0.6);
    }
    
    .flight-path {
        display: flex;
        flex-direction: column;
        margin-right: 160px;
        align-items: center;
        gap: 0.5rem;
    }
    
    .line {
        width: 2px;
        height: 26px;
        background-color: #112211;
    }
    
    .plane-icon {
        font-size: 1.5rem;
        color: #112211;
    }
    
    /* Boarding Pass */
    .boarding-pass {
        flex: 1;
        background: white;
        display: flex;
        flex-direction: column;
    }
    
    .passenger-info {
        background-color: var(--primary-color);
        padding: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        color: white;
    }
    
    .avatar {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        object-fit: cover;
    }
    
    .passenger-info h3 {
        font-size: 1.25rem;
        font-weight: bold;
    }
    
    .class {
        margin-left: auto;
        font-weight: bold;
        font-size: 0.875rem;
        text-align: right;
    }
    
    .class br {
        display: block;
    }
    
    .flight-details {
        display: flex;
        gap: auto;
    }
    
    .detail {
        display: flex;
        max-width: fit-content;
        gap: 0.5rem;
        padding: 1.5rem;
    }
    
    .icon {
        min-width: 2rem;
        height: 2rem;
        background-color: #d2d4fb;
        border-radius: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .detail p {
        color: rgba(17, 34, 17, 0.6);
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }
    
    .detail span {
        color: #112211;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.75rem;
    }
    
    .flight-code {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
        position: relative;
        padding-top: 24px;
    }
    
    .flight-code-content {
        position: absolute;
        top: 24px;
        left: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .flight-code h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 2rem;
        color: #112211;
    }
    
    .flight-code p {
        color: rgba(4, 47, 64, 0.6);
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 0.75rem;
    }
    
    .barcode {
        width: 248px;
        height: 81px;
        background-color: #ffffff;
        margin-left: auto;
    }
    
    /* Price Breakdown */
    .price-breakdown {
        width: 400px;
    }
    
    .price-breakdown h3 {
        color: var(--primary-color);
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        font-weight: 700;
        font: "Nunito Sans" sans-serif;
    }
    
    .price-items {
        display: flex;
        flex-direction: column;
        gap: 0.8125rem;
    }
    
    .price-item, .price-total {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        color: #E6E8E9;
    }
    
    .price-total {
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        padding: 0.75rem 0;
        font-weight: 600;
    }
    
    .price-item span{
        font-family: 'Poppins', sans-serif;
    }
    
    .price-total span{
        font-family: 'Montserrat', sans-serif;
    }
    
    /* Action Buttons */
    .action-buttons {
        display: flex;
        padding: 2.5rem 0;
        justify-self: start;
        white-space: nowrap;
    }
    
    .action-buttons button {
        padding: 0 2rem;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: all 0.3s ease;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .share-btn{
        display: flex;
        justify-content: center;
        border: #605DEC 2px solid;
        border-radius: 0.25rem;
        padding: 14px;
        width: 48px;
        height: 48px;
    }
    
    .download-btn {
        margin-left: 1rem;
        margin-right: 2rem;
        width: 150px;
        background-color: var(--primary-color);
        color: white;
        border: none;
    }
    
    .download-btn:hover {
        background-color: #4f4cee;
    }
    
    .home-btn {
        width: 194px;
        background-color: var(--primary-color);
        color: white;
        border: none;
    }
    
    .home-btn:hover {
        background-color: #4f4cee;
    }
    
    .ratings {
        background: rgb(255, 255, 255);
        border-radius: 1rem;
        padding: 1rem;
        border: 1px solid var(--border-color);
        max-width: 856px;
        height: fit-content;
    }
    
    .ratings p {
        color: #354259;
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        font-size: 15px;
    }
    
    .stars {
        display: flex;
        gap: 0.625rem;
        margin:0.5rem 0;
    }
    
    .ratings i {
        color: #a8a8b7;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.2s ease;
    }
    
    .ratings i:hover {
        color: #605DEC;
    }
    
    .ratings i.selected {
        color: #605DEC;
    }
    
    textarea {
        width: 100%;
        min-height: 130px;
        padding: 1rem;
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        font-family: 'DM Sans', sans-serif;
        margin-bottom: 0.5rem;
        resize: vertical;
    }
    
    .rating-buttons {
        display: flex;
        gap: 0.75rem;
    }
    
    .rating-buttons button {
        flex: 1;
        padding: 0.75rem;
        border-radius: 0.5rem;
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
        height: 48px;
    }
    
    .cancel-btn {
        background: white;
        border: 1px solid var(--border-color);
        color: #031330;
    }
    
    .cancel-btn:hover {
        background: var(--border-color);
        border: 1px solid var(--border-color);
        color: #031330;
    }
    
    .submit-btn {
        background:#605DEC;
        border: none;
        color: white;
    }
    
    .submit-btn:hover {
        background:#4f4cee;
        border: none;
        color: white;
    }
    
    .cancel-flight{
        margin: 2.5rem 0;
        max-width: 682px;
    }
    
    .cancel-flight h1{
        line-height: 0;
        color: #605DEC;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 1.25rem;
    }
    
    .cancel-flight p{
        color: #7C8DB0;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0.8rem;
    }
    
    .cancel-flight span{
        color: #605DEC;
    }
    
    .cancel-flight-btn{
        margin-top: 0.6rem;
        padding: 0 1.5rem;
        height: 45px;
        width: fit-content;
        background-color: #CB2D30;
        border-radius: 4px;
        border: none;
        color: white;
        font-family: "Nunito Sans";
        font-size: 18px;
        font-weight: 400;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    
    .cancel-flight-btn:hover{
        background: #ba2a2c;
    }